.purple{
    background-color: purple;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.blue{
    background-color: blue;
    padding: 20px;
    margin: 30px;
}
.yo{
    background-color: yellow;
    padding: 20px;
    margin: 10px;

}
.flex{
    display: flex;
}
.you{
    background-color: yellow;
    padding-right: 80px;
    margin: 10px;
}
.alto{
    background-color: yellow;
    padding-bottom: 80px;
    margin: 10px;  
}
.yoo{
    background-color: yellow;
    padding-right: 80px;
}
.black{
    padding-bottom: 90px;

}
.bluee{
    background-color: blue;
    padding: 20px;
    margin: 10px;
}
.alto2{
    background-color: yellow;
    padding-bottom: 90px;
    margin: 10px;  
}
.yu{
    background-color: yellow;
    padding: 20px;
    padding-bottom: 140px;
    margin: 10px;
}
.yuu{
    background-color: yellow;
    padding: 20px;
    padding-bottom: 140px;
    margin: 10px;
}